<div class="head">
    <div class="select-wrap" (clickOutside)="showDrb = false;">
        <button (click)="showDrb = !showDrb">
            {{selectedSeason.name}}
            <span class="material-icons">
                keyboard_arrow_down
            </span>
        </button>
        <div *ngIf="showDrb" class="drb-wrap">
            <div *ngFor="let season of seasonsOptions" class="drb-wrap-item"
                (click)="selectedSeason = season; showDrb = false;">
                {{season.name}}
            </div>
        </div>
    </div>
    <div>
        {{(data | filterBySeason : selectedSeason.value)?.length}} Episodes
    </div>
</div>
<div class="body">
    <div class="episode-item" *ngFor="let episode of data | filterBySeason : selectedSeason.value" (click)="select(episode)">
        <div class="icon">
            <img [src]="episode.ThumbnailUrl" [alt]="episode.Title">
        </div>
        <div>
            <div class="episode-item--head">
                <div class="name">
                    {{episode.Title}}
                </div>
                <div class="duration">
                    {{episode.EndAt / 60 | number: '1.0-0'}} min
                </div>
            </div>
            <div class="description">
                {{episode.Description}}
            </div>
        </div>
    </div>
</div>