<!-- <div id="player-wrap" class="player_wrap"> -->
<!-- {{this.duration}} -->
<div class="shield-mousemose"
  *ngIf="!generalAppService.noMouseMove.getValue() && generalAppService.fullScreenStatus.getValue()">
</div>

<!-- <div style="position: fixed; color: white;">
  {{generalAppService.noMouseMove.getValue()}}
  {{generalAppService.fullScreenStatus.getValue()}}
</div> -->

<div class="pl_conntainer container" *ngIf="data" [hidden]="generalAppService.generalParamsLoaded.getValue()"
  [ngClass]="{'yt-fullscreen': generalAppService.fullScreenStatus.getValue() && !generalAppService.noMouseMove.getValue(), 'not_play': !isPlaying, 'no_progressbar': isYtLive}">
  <div *ngIf="!isPlaying && !generalAppService.generalParamsLoaded.getValue() " class="play_button"
    (click)="resume();"></div>
  <div id="player" style="width: 100%; height: 100%;"></div>
  <!-- <youtube-player style="display: flex; height:100%" [videoId]="data.movId" #youtubePlayer></youtube-player> -->
  <div class="utube-controls-toolbar"
    [ngClass]="{'hide':  !generalAppService.noMouseMove.getValue() && generalAppService.fullScreenStatus.getValue()}">
    <ctv-live-youtube-controls [isMute]="isMute" [data]="data" [showProgressbar]="!isYtLive" [ffBtnActive]="!isYtLive"
      [hasList]="!isYtLive && !isVodPlayer" [volume]="volume" [setTime]="playerTime" [duration]="duration"
      [player]="player || vodPlayer" [isPlaying]="isPlaying" [isVodPlayer]="isVodPlayer"
      (onChildControlsEvent)="onChildControls($event)"></ctv-live-youtube-controls>
  </div>
</div>

<div class="pl_conntainer live-wrawp no_progressbar container" [hidden]="generalAppService.generalParamsLoaded.getValue()"
  [ngClass]="{'no_controls': !generalAppService.noMouseMove.getValue() && generalAppService.fullScreenStatus.getValue(), 'yt-fullscreen': generalAppService.fullScreenStatus.getValue() && !generalAppService.noMouseMove.getValue()}"
  *ngIf="liveData">

  <div *ngIf="!isPlayingLive && !generalAppService.generalParamsLoaded.getValue() " class="play_button"
    (click)="resume();"></div>

  <video [hidden]="generalAppService.generalParamsLoaded.getValue()" *ngIf="liveUrl" id="my_video_1"
    class="video-js vjs-fluid vjs-default-skin" controls data-setup='{"muted": "muted"}'>
    <source src="{{liveUrl}}" type="application/x-mpegURL">
  </video>

  <div class="utube-controls-toolbar"
    [ngClass]="{'hide':  !generalAppService.noMouseMove.getValue() && generalAppService.fullScreenStatus.getValue()}">
    <ctv-live-youtube-controls [isMute]="isMute" [showProgressbar]="false" [volume]="volume" [ffBtnActive]="false"
      [data]="liveData" [setTime]="playerTime" [duration]="duration" [player]="player" [isPlaying]="isPlayingLive"
      (onChildControlsEvent)="onChildControls($event)"></ctv-live-youtube-controls>
  </div>
</div>
<!-- </div> -->