<div id="player-wrap" class="player_wrap">

  <video *ngIf="LiveLink" id="my_video_1" class="video-js vjs-fluid vjs-default-skin" controls preload="auto"
  data-setup='{}'>
    <source src="{{LiveLink}}" type="application/x-mpegURL">
  </video>
  <container class="pl_conntainer"  *ngIf="data">
    <div id="player"></div>

    <!-- <youtube-player style="display: flex; height:100%" [videoId]="data.movId" #youtubePlayer></youtube-player> -->
    <div class="utube-controls-toolbar">
      <ctv-live-youtube-controls [data]="data" [setTime]="playerTime" [duration]="duration" [player]="player" [isPlaying]="isPlaying" (onChildControlsEvent)="onChildControls($event)"></ctv-live-youtube-controls>
    </div>
  </container>
</div>
