.player_wrap {
  width: 100%;
  height: 100%;
}
.full-screen-toolbar
{
  z-index: 30;
  position: absolute;
  width: 100%;
  top: 0;
}
.utube-controls-toolbar {
  z-index: 30;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0px;
  background-color: rgba(0,0,0,.75);
}
container {
  position: relative;
}

#player{
  height: calc(100%-400px)!important;
  // height: 498px !important;
  // height: 100%;
  // padding-top: 57px !important;
}
// #player div.ytp-pause-overlay.ytp-scroll-min {
//   bottom: 75px!important;
// }
