<div class="head_wrap" [ngClass]="{'hide': generalAppService.noMouseMove.getValue() && generalAppService.fullScreenStatus.getValue()}">
  <div class="play_wrap">
    <p *ngIf="param" class="logo_m">
      <img [src]="param.LeftLogo" alt="logo">
      <!-- <span style="color: white;">
        {{generalAppService.fullScreenStatus.getValue()}}
      </span> -->
      </p>
    <div *ngIf="video" (click)="selectVideo()" class="data_wrap">
      <p class="play_s">
        <img src="/assets/prebuilt-themes/vodacom-gray/images/buttons/play_50x50.png" alt="play">
      </p>
      <p class="b_num">{{video.channelNum}}</p>
      <div class="par_wrap">
        <p class="par_g">PLAYING NOW</p>
        <p class="par_g cut-text">{{video.title || video.ChannelName}}</p>
      </div>
    </div>
  </div>
  <div class="acordeon_wrapper">
    <div *ngFor="let item of tabs | sort:'ShowOrder';let i = index" [class.mouse_over]="isOver[i]"
      (mouseenter)="MouseOver(i)" (mouseleave)="MouseOver(i)" [class.click]="clicked[i]" (click)="tabClick(item, i)"
      class="img_th_wrap">
      <p *ngIf="item.FieldIcon" class="img_l_wrap">
        <img class="blue" [src]="item.FieldIcon" alt="tv">
        <img class="blue_hov" [src]="item.FieldIcon" alt="tv">
        <img class="white" [src]="item.FieldIcon" alt="tv">
      </p>

      <!-- <div class="log_wrapper">
    <p class="logo_m">
      <img src="/assets/prebuilt-themes/vodacom-gray/images/logo.png" alt="logo">
    </p>
    <div class="data_wrap">
      <p class="play_s">
        <img src="/assets/prebuilt-themes/vodacom-gray/images/buttons/play_50x50.png" alt="play">
      </p>
      <p class="b_num">8</p>
      <div class="par_wrap">
        <p class="par_g">PLAYING NOW</p>
        <p class="par_g">ALGEBRA BASICS</p>
      </div>
    </div>
  </div>
  <div class="acordeon_wrapper">
    <div [class.mouse_over]="isOver" (mouseenter)="MouseOver()" (mouseleave)="MouseOver()" [class.click]="clicked"
      (click)="onClick()" class="img_th_wrap">
      <p class="img_l_wrap">
        <img class="blue" src="/assets/prebuilt-themes/vodacom-gray/images/buttons/top_menu/TV_blue.png" alt="tv">
        <img class="blue_hov" src="/assets/prebuilt-themes/vodacom-gray/images/buttons/top_menu/TV_blue_hover.png"
          alt="tv">
        <img class="white" src="/assets/prebuilt-themes/vodacom-gray/images/buttons/top_menu/TV_white.png" alt="tv"> -->
      <!-- <img src="/assets/prebuilt-themes/vodacom-gray/images/buttons/top_menu/TV_white_over.png" alt="tv"> -->

      <p class="th_topic">{{item.ShownName}}</p>
    </div>
    <div [class.mouse_over]="isOver[tabs.length]" (mouseenter)="MouseOver(tabs.length)"
      (mouseleave)="MouseOver(tabs.length)" class="img_th_wrap">
      <!-- <div [class.mouse_overb]="isOverb" (mouseenter)="MouseOverb()" (mouseleave)="MouseOverb()" [class.clickb]="clickedb"
      (click)="onClickb()" class="img_th_wrap">
      <p class="img_l_wrap">
        <img class="blue" src="/assets/prebuilt-themes/vodacom-gray/images/buttons/top_menu/Music_blue.png" alt="music">
        <img class="blue_hov" src="/assets/prebuilt-themes/vodacom-gray/images/buttons/top_menu/Music_blue_hover.png"
          alt="music">
        <img class="white" src="/assets/prebuilt-themes/vodacom-gray/images/buttons/top_menu/Music_wight.png"
          alt="music">
      </p>
      <p class="th_topic">Live</p>
    </div>
    <div [class.mouse_overc]="isOverc" (mouseenter)="MouseOverc()" (mouseleave)="MouseOverc()" [class.clickc]="clickedc"
      (click)="onClickc()" class="img_th_wrap">
      <p class="img_l_wrap">
        <img class="blue" src="/assets/prebuilt-themes/vodacom-gray/images/buttons/top_menu/Radio_blue.png" alt="radio">
        <img class="blue_hov" src="/assets/prebuilt-themes/vodacom-gray/images/buttons/top_menu/Radio_blue_hover.png"
          alt="radio">
        <img class="white" src="/assets/prebuilt-themes/vodacom-gray/images/buttons/top_menu/Radio_white.png"
          alt="radio">
      </p>
      <p class="th_topic">Channels</p>
    </div>
    <div [class.mouse_overa]="isOvera" (mouseenter)="MouseOvera()" (mouseleave)="MouseOvera()" class="img_th_wrap"> -->
      <p (click)="back()" class="img_bc_wrap">
        <img class="arr" src="/assets/prebuilt-themes/vodacom-gray/images/player/back_to_channels.png" alt="back">
        <img class="arrb" src="/assets/prebuilt-themes/vodacom-gray/images/player/back_to_channels_mouse-over.png"
          alt="back">
      </p>
    </div>
  </div>
</div>
