<div class="head_wrap">
  <p *ngIf="param" class="logo_m">
    <img [src]="param.LeftLogo" alt="logo">
  </p>
  <div class="acordeon_wrapper">
    <div *ngFor="let item of tabs | sort:'ShowOrder';let i = index" [class.mouse_over]="isOver[i]" 
    (mouseenter)="MouseOver(i)" (mouseleave)="MouseOver(i)" [class.click]="clicked[i]" 
    (click)="tabClick(item, i)" class="img_th_wrap">
      <p *ngIf="item.FieldIcon" class="img_l_wrap">
        <img class="blue" [src]="item.FieldIcon" alt="tv">
        <img class="blue_hov" [src]="item.FieldIcon" alt="tv">
        <img class="white" [src]="item.FieldIcon" alt="tv">
        <!-- <img src="/assets/prebuilt-themes/vodacom-gray/images/buttons/top_menu/TV_white_over.png" alt="tv"> -->
      </p>
      <p class="th_topic">{{item.ShownName}}</p>
    </div>
  
    <div [class.mouse_over]="isOver[tabs.length]" 
    (mouseenter)="MouseOver(tabs.length)" (mouseleave)="MouseOver(tabs.length)" class="img_th_wrap">
      <p class="img_bc_wrap">
        <img class="arr" src="/assets/prebuilt-themes/vodacom-gray/images/player/back_to_channels.png" alt="back">
        <img class="arrb" src="/assets/prebuilt-themes/vodacom-gray/images/player/back_to_channels_mouse-over.png" alt="back">
      </p>
    </div>
  </div>
</div>
