<div class="lists-main_wrapper">

    <div class="panel-primary">
        <div #container class="channelInfoContainer">
            <div class="list-loc_wrap">
                <ng-container *ngIf="(serialList | keyvalue)['length']">
                    <ng-container *ngFor="let c of (serialList | keyvalue); let i = index">
                        <p class="list_name" [ngClass]="{'first': i === 0}">Season {{c.key}}</p>
                        <div class="content">
                            <ng-container *ngFor="let item of c.value | rowList: listUpdater; let rowIndex = index;">
                                <div class="row"
                                    [ngStyle]="{'height': ((container.offsetWidth - item[0].wrapPadding) / item[0].itemsPerRow * 0.54) + 'px'}">
                                    <div *ngFor="let elem of item; last as isLast; first as isFirst; let itemIndex = index;"
                                        class="movie-box-wrap"
                                        [ngClass]="{'active-row': selectedItem?.rowIndex === rowIndex}">
                                        <div (click)="selectedItem?.rowIndex !== rowIndex ? goToVideo(elem) : details(rowIndex, itemIndex, elem, $event, 'details-movie-'+rowIndex);"
                                            [ngClass]="{'last_item': isLast && !isFirst && item.length === elem.itemsPerRow, 'non_active_line': selectedItem?.rowIndex !== rowIndex, 'active': selectedItem?.itemIndex === itemIndex && selectedItem?.rowIndex === rowIndex}"
                                            class="movie-box pcView"
                                            [ngStyle]="{'min-width': ((container.offsetWidth - elem.wrapPadding) / elem.itemsPerRow) - 10 + 'px', 'min-height': ((container.offsetWidth - elem.wrapPadding) / elem.itemsPerRow * 0.54) - 10 + 'px', 'width': ((container.offsetWidth - elem.wrapPadding) / elem.itemsPerRow) - 10 + 'px', 'height': ((container.offsetWidth - elem.wrapPadding) / elem.itemsPerRow * 0.54) - 10 + 'px'}">
                                            <img [src]="elem.ThumbnailUrl" [alt]="elem.Title">
                                            <div class="bottom">
                                                <div class="bg-bott"></div>
                                                <div class="program">
                                                    <div class="block">
                                                        <h1 [title]="elem.Title" class="prog-name">{{elem.Title}}</h1>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="data-mask">
                                                <div class="play-btn"></div>
                                                <div class="title-mask" [title]="elem.Title">{{elem.Title}}</div>
                                                <div class="desc-mask">
                                                    {{elem.Description}}
                                                </div>
                                                <div class="ext-info">
                                                    <!-- <div class="age">+16</div> -->
                                                    <div class="duration">
                                                        {{elem.EndAt / 60 | number: '1.0-0'}} :
                                                        {{elem.EndAt % 60 | number: '2.0-0'}}
                                                    </div>
                                                </div>
                                                <div (click)="details(rowIndex, itemIndex, elem, $event, 'details-movie-'+rowIndex)"
                                                    class="item-footer-mask">
                                                    <div class="more"></div>
                                                </div>
                                            </div>
                                            <a class="rout-lnk" (click)="goToVideo(elem)">
                                                <div class="playBtn"></div>
                                            </a>
                                        </div>
                                        <div
                                            *ngIf="selectedItem?.itemIndex === itemIndex && selectedItem?.rowIndex === rowIndex">
                                            <div class="selectedItemArrow"></div>
                                        </div>
                                        <div *ngIf="selectedItem?.itemIndex !== itemIndex && selectedItem?.rowIndex === rowIndex"
                                            class="more selected-row"></div>
                                    </div>
                                </div>
    
                                <div *ngIf="selectedItem?.rowIndex === rowIndex" (click)="goToVideo(selectedItem.item)"
                                    id="details-movie-{{rowIndex}}" class="details-movie"
                                    [ngStyle]="{'height': '64vh', 'width': '100%'}">
                                    <div class="close-details" (click)="$event.stopPropagation(); selectedItem = {}">
                                        <img src="assets/prebuilt-themes/vodacom-gray/images/buttons/X.png" alt="">
                                    </div>
                                    <div class="data-layer">
                                        <div class="data-block">
                                            <div class="title">{{selectedItem.item.Title}} </div>
                                            <div class="common">
                                                <div class="ext-info">
                                                    <a class="play_button">
                                                        <span class="mat-button-wrapper">Play</span>
                                                    </a>
                                                    <div class="dur"> 9 Min </div>
                                                    <div class="age">+16</div>
                                                </div>
                                            </div>
                                            <div class="description">
                                                {{selectedItem.item.Description}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="background">
                                        <img [src]="selectedItem.item.ThumbnailUrl" alt="The Gunfighter ">
                                    </div>
                                    <div class="gradiant-bg">
                                        <div class="left"></div>
                                        <div class="grad"></div>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </ng-container>
                    
                </ng-container>
                <ng-container *ngIf="!(serialList | keyvalue)['length']">
                    <div class="content">
                        <ng-container *ngFor="let item of list | rowList: listUpdater; let rowIndex = index;">
                            <div class="row"
                                [ngStyle]="{'height': ((container.offsetWidth - item[0].wrapPadding) / item[0].itemsPerRow * 0.54) + 'px'}">
                                <div *ngFor="let elem of item; last as isLast; first as isFirst; let itemIndex = index;"
                                    class="movie-box-wrap"
                                    [ngClass]="{'active-row': selectedItem?.rowIndex === rowIndex}">
                                    <div (click)="selectedItem?.rowIndex !== rowIndex ? goToVideo(elem) : details(rowIndex, itemIndex, elem, $event, 'details-movie-'+rowIndex);"
                                        [ngClass]="{'last_item': isLast && !isFirst && item.length === elem.itemsPerRow, 'non_active_line': selectedItem?.rowIndex !== rowIndex, 'active': selectedItem?.itemIndex === itemIndex && selectedItem?.rowIndex === rowIndex}"
                                        class="movie-box pcView"
                                        [ngStyle]="{'min-width': ((container.offsetWidth - elem.wrapPadding) / elem.itemsPerRow) - 10 + 'px', 'min-height': ((container.offsetWidth - elem.wrapPadding) / elem.itemsPerRow * 0.54) - 10 + 'px', 'width': ((container.offsetWidth - elem.wrapPadding) / elem.itemsPerRow) - 10 + 'px', 'height': ((container.offsetWidth - elem.wrapPadding) / elem.itemsPerRow * 0.54) - 10 + 'px'}">
                                        <img [src]="elem.ThumbnailUrl" [alt]="elem.Title">
                                        <div class="bottom">
                                            <div class="bg-bott"></div>
                                            <div class="program">
                                                <div class="block">
                                                    <h1 [title]="elem.Title" class="prog-name">{{elem.Title}}</h1>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="data-mask">
                                            <div class="play-btn"></div>
                                            <div class="title-mask" [title]="elem.Title">{{elem.Title}}</div>
                                            <div class="desc-mask">
                                                {{elem.Description}}
                                            </div>
                                            <div class="ext-info">
                                                <!-- <div class="age">+16</div> -->
                                                <div class="duration">
                                                    {{elem.EndAt / 60 | number: '1.0-0'}} :
                                                    {{elem.EndAt % 60 | number: '2.0-0'}}
                                                </div>
                                            </div>
                                            <div (click)="details(rowIndex, itemIndex, elem, $event, 'details-movie-'+rowIndex)"
                                                class="item-footer-mask">
                                                <div class="more"></div>
                                            </div>
                                        </div>
                                        <a class="rout-lnk" (click)="goToVideo(elem)">
                                            <div class="playBtn"></div>
                                        </a>
                                    </div>
                                    <div
                                        *ngIf="selectedItem?.itemIndex === itemIndex && selectedItem?.rowIndex === rowIndex">
                                        <div class="selectedItemArrow"></div>
                                    </div>
                                    <div *ngIf="selectedItem?.itemIndex !== itemIndex && selectedItem?.rowIndex === rowIndex"
                                        class="more selected-row"></div>
                                </div>
                            </div>

                            <div *ngIf="selectedItem?.rowIndex === rowIndex" (click)="goToVideo(selectedItem.item)"
                                id="details-movie-{{rowIndex}}" class="details-movie"
                                [ngStyle]="{'height': '64vh', 'width': '100%'}">
                                <div class="close-details" (click)="$event.stopPropagation(); selectedItem = {}">
                                    <img src="assets/prebuilt-themes/vodacom-gray/images/buttons/X.png" alt="">
                                </div>
                                <div class="data-layer">
                                    <div class="data-block">
                                        <div class="title">{{selectedItem.item.Title}} </div>
                                        <div class="common">
                                            <div class="ext-info">
                                                <a class="play_button">
                                                    <span class="mat-button-wrapper">Play</span>
                                                </a>
                                                <div class="dur"> 9 Min </div>
                                                <div class="age">+16</div>
                                            </div>
                                        </div>
                                        <div class="description">
                                            {{selectedItem.item.Description}}
                                        </div>
                                    </div>
                                </div>
                                <div class="background">
                                    <img [src]="selectedItem.item.ThumbnailUrl" alt="The Gunfighter ">
                                </div>
                                <div class="gradiant-bg">
                                    <div class="left"></div>
                                    <div class="grad"></div>
                                </div>
                            </div>
                            <!-- <div *ngIf="selectedItem?.rowIndex === rowIndex && hasSeasons"
                                class="serial-seasons-details-wrap">
                                <app-serial-seasons-details></app-serial-seasons-details>
                            </div> -->

                        </ng-container>
                    </div>
                </ng-container>

            </div>

        </div>
    </div>
    <div *ngIf="channel" class="desc-wrap">
        <div class="big-play">
            <img (click)="goToChannel()" src="/assets/prebuilt-themes/vodacom-gray/images/buttons/info_play.png"
                alt="play">
        </div>
        <div class="channel-description">
            <h1>{{channel?.ChannelName}}</h1>
            <h1>
                <p>
                    {{channel?.ChannelDesc}}
                </p>
            </h1>
        </div>
    </div>

    <app-vod-footer></app-vod-footer>
</div>