<div #scrollWrap (scroll)="onScroll($event)" class="lists-main_wrapper">

  <div class="panel-primary">
    <div #container class="channelsLinesContainer">
      <div *ngIf="lastViewedData.length" class="list-loc_wrap">
        <p class="list_name first">Last viewed</p>
        <div class="content">
          <div class="row" *ngFor="let row of lastViewedData | rowList: listUpdater"
            [ngStyle]="{'height': ((container.offsetWidth) / row[0].itemsPerRow * 0.54) + 'px'}">
            <div class="row-item" *ngFor="let item of row; last as isLast; first as isFirst">

              <div *ngIf="(!item.programLists && item.Logo)" (click)="goToVideo(item)"
                class="channel-box non_active_line"
                [ngClass]="{'last_item': isLast && !isFirst && row.length === item.itemsPerRow}"
                [ngStyle]="{'width': ((container.offsetWidth) / item.itemsPerRow) - 10 + 'px', 'height': ((container.offsetWidth) / item.itemsPerRow * 0.54) + 'px'}">
                <a class="rout-lnk small">
                  <div class="vodBtn"></div>
                </a>
                <img [src]="item.BigPicture" alt="">
                <div class="top">
                  <div class="bg"></div>
                  <h1 class="ch-name">
                    <span>
                      <span class="ch-num">{{item.ChannelNumber}}</span>{{item.ChannelName}}
                    </span>
                  </h1>
                  <span class="live">
                    Live
                  </span>
                </div>
              </div>


              <div *ngIf="(item.programLists && item.programLists[0])" (click)="goToVideo(item)"
                class="channel-box non_active_line"
                [ngClass]="{'last_item': isLast && !isFirst && row.length === item.itemsPerRow}"
                [ngStyle]="{'width': ((container.offsetWidth) / item.itemsPerRow) - 10 + 'px', 'height': ((container.offsetWidth) / item.itemsPerRow * 0.54) + 'px'}">
                <a class="rout-lnk small">
                  <div class="vodBtn"></div>
                </a>
                <img [src]="item.programLists[0]?.MoviePic" alt="">
                <div class="top">
                  <div class="bg"></div>
                  <div class="ch-logo"><img [src]="item.Logo" [alt]="item.ChannelName"></div>
                  <h1 class="ch-name"><span class="ch-num">{{item.ChannelNumber}}</span> {{item.ChannelName}}
                  </h1>
                  <a class="channel-info">
                    <p class="info-icon" (click)="info($event, item)">
                      <img src="/assets/prebuilt-themes/vodacom-gray/images/info.svg" alt="info">
                    </p>
                  </a>
                </div>
                <div class="bottom">
                  <div class="bg-bott"></div>
                  <div class="program">
                    <div class="block"><span
                        class="prog-st">{{item.programLists[0].StartTime | currentDate: 'HH:mm'}}</span><span
                        class="prog-name">{{item.programLists[0].Title}}</span></div>
                  </div>
                </div>
                <div class="bottom-hov">
                  <div class="bg-bott"></div>
                  <div class="program" [title]="item.programLists[0].Title">
                    <div class="block">
                      <div class="ttl">Playing Now</div>
                      <div class="prog-name">{{item.programLists[0].Title}}</div>
                    </div>
                  </div>
                  <div class="program">
                    <a class="r-link" [title]="item.programLists[1].Title"></a>
                    <div class="block">
                      <div class="ttl"> Next: {{item.programLists[1].StartTime | currentDate: 'HH:mm'}}</div>
                      <div class="prog-name">{{item.programLists[1].Title}}</div>
                    </div>
                  </div>
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>


      <div *ngFor="let c of ((data | keyvalue) | sortByList: orderData); let firstWrap = first; let lastWrap = last"
        class="list-loc_wrap" [ngClass]="{'last': lastWrap}">
        <p class="list_name" [ngClass]="{'first': firstWrap && !(lastViewedData.length && (videoType === 1))}">
          <span (click)="c.value[0]?.VOD_MovieDetailsList?.length ? info3($event, c.value[0].Genere_ID): null"
            [ngClass]="{'c-p': c.value[0]?.VOD_MovieDetailsList?.length}">
            {{c.key}}
            <span *ngIf="c.value[0]?.VOD_MovieDetailsList?.length" style="font-size: 16px;">
              Show all
            </span>
          </span>
        </p>
        <div class="content">
          <ng-container *ngIf="!c.value[0]?.VOD_MovieDetailsList?.length && !c.value[0]?.SerialList?.length">
            <div class="row" *ngFor="let row of c.value | rowList: listUpdater"
              [ngStyle]="{'height': ((container.offsetWidth) / row[0].itemsPerRow * 0.54) + 'px'}">
              <div class="row-item" *ngFor="let item of row; last as isLast; first as isFirst">

                <div *ngIf="(!item.programLists && item.Logo)" (click)="goToVideo(item)"
                  class="channel-box non_active_line"
                  [ngClass]="{'last_item': isLast && !isFirst && row.length === item.itemsPerRow}"
                  [ngStyle]="{'width': ((container.offsetWidth) / item.itemsPerRow) - 10 + 'px', 'height': ((container.offsetWidth) / item.itemsPerRow * 0.54) + 'px'}">
                  <a class="rout-lnk small">
                    <div class="vodBtn"></div>
                  </a>
                  <img [src]="item.BigPicture" alt="">
                  <div class="top">
                    <div class="bg"></div>
                    <h1 class="ch-name">
                      <span>
                        <span class="ch-num">{{item.ChannelNumber}}</span>{{item.ChannelName}}
                      </span>
                    </h1>
                    <span class="live">
                      Live
                    </span>
                  </div>
                </div>


                <div *ngIf="(item.programLists && item.programLists[0])" (click)="goToVideo(item)"
                  class="channel-box non_active_line"
                  [ngClass]="{'last_item': isLast && !isFirst && row.length === item.itemsPerRow}"
                  [ngStyle]="{'width': ((container.offsetWidth) / item.itemsPerRow) - 10 + 'px', 'height': ((container.offsetWidth) / item.itemsPerRow * 0.54) + 'px'}">
                  <a class="rout-lnk small">
                    <div class="vodBtn"></div>
                  </a>
                  <img [src]="item.programLists[0]?.MoviePic" alt="">
                  <div class="top">
                    <div class="bg"></div>
                    <div class="ch-logo"><img [src]="item.Logo" [alt]="item.ChannelName"></div>
                    <h1 class="ch-name"><span class="ch-num">{{item.ChannelNumber}}</span> {{item.ChannelName}}
                    </h1>
                    <a class="channel-info">
                      <p class="info-icon" (click)="info($event, item)">
                        <img src="/assets/prebuilt-themes/vodacom-gray/images/info.svg" alt="info">
                      </p>
                    </a>
                  </div>
                  <div class="bottom">
                    <div class="bg-bott"></div>
                    <div class="program">
                      <div class="block"><span
                          class="prog-st">{{item.programLists[0].StartTime | currentDate: 'HH:mm'}}</span><span
                          class="prog-name">{{item.programLists[0].Title}}</span></div>
                    </div>
                  </div>
                  <div class="bottom-hov">
                    <div class="bg-bott"></div>
                    <div class="program" [title]="item.programLists[0].Title">
                      <div class="block">
                        <div class="ttl">Playing Now</div>
                        <div class="prog-name">{{item.programLists[0].Title}}</div>
                      </div>
                    </div>
                    <div class="program">
                      <a class="r-link" [title]="item.programLists[1].Title"></a>
                      <div class="block">
                        <div class="ttl"> Next: {{item.programLists[1].StartTime | currentDate: 'HH:mm'}}</div>
                        <div class="prog-name">{{item.programLists[1].Title}}</div>
                      </div>
                    </div>
                  </div>
                </div>


              </div>
            </div>
          </ng-container>

          <ng-container *ngFor="let rowWrap of c.value; let rowWrapIndex = index">

            <!-- MOVIE ITEM -->

            <ng-container *ngIf="rowWrap.VOD_MovieDetailsList?.length">
              <div class="row" *ngFor="let row of rowWrap.VOD_MovieDetailsList | rowList: listUpdater"
                [ngStyle]="{'height': ((container.offsetWidth) / row[0].itemsPerRow * 0.54) + 'px'}">
                <div class="row-item" *ngFor="let item of row; last as isLast; first as isFirst">
                  <div (click)="goToVideo2(item)" class="channel-box non_active_line"
                    [ngClass]="{'last_item': isLast && !isFirst && row.length === item.itemsPerRow}"
                    [ngStyle]="{'width': ((container.offsetWidth) / item.itemsPerRow) - 10 + 'px', 'height': ((container.offsetWidth) / item.itemsPerRow * 0.54) + 'px'}">
                    <!-- <a class="rout-lnk small">
                      <div class="vodBtn"></div>
                    </a> -->
                    <img [src]="item.ThumbnailUrl" [alt]="item.Title">
                    <div class="top">
                      <div class="bg"></div>
                      <!-- <h1 class="ch-name"><span class="ch-num"></span> {{item.Title}}
                      </h1> -->
                      <a class="channel-info">
                        <p class="info-icon" (click)="info3($event, c.value[rowWrapIndex].Genere_ID)">
                          <img src="/assets/prebuilt-themes/vodacom-gray/images/info.svg" alt="info">
                        </p>
                      </a>
                    </div>


                    <div class="bottom">
                      <div class="bg-bott"></div>
                      <div class="program" style="min-height: 24px;">
                        <div class="block"
                          style="width: 100%; display: flex; align-items: center; white-space: nowrap;">
                          <div class="duration">
                            {{item.EndAt / 60 | number: '1.0-0'}} : {{item.EndAt % 60 | number: '2.0-0'}}
                          </div>
                          <span class="prog-name"
                            style="width: calc(100% - 73px); overflow: hidden;">{{item.Title}}</span>
                        </div>
                      </div>
                    </div>

                    <div class="data-mask">
                      <div class="play-btn"></div>
                      <div class="title-mask" [title]="item.Title">{{item.Title}}</div>
                      <div class="desc-mask">
                        {{item.Description}}
                      </div>
                      <div class="ext-info">
                        <!-- <div class="age">+16</div> -->
                        <div class="duration">
                          {{item.EndAt / 60 | number: '1.0-0'}} : {{item.EndAt % 60 | number: '2.0-0'}}
                        </div>
                      </div>
                      <div (click)="info3($event, c.value[rowWrapIndex].Genere_ID)" class="item-footer-mask">
                        <div class="more"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>

            <!-- SERIAL -->

            <ng-container *ngIf="rowWrap.SerialList?.length">
              <ng-container *ngFor="let row of (rowWrap.SerialList | rowList: listUpdater); let rowIndex = index;">
                <div class="row" [ngStyle]="{'height': ((container.offsetWidth) / row[0].itemsPerRow * 0.54) + 'px'}">
                  <div class="row-item"
                    *ngFor="let item of row; last as isLast; first as isFirst; let itemIndex = index;">
                    <div
                      (click)="selectedItem?.rowIndex !== rowIndex ? goToVideo3(item) : details(rowIndex, itemIndex, item, $event, 'details-movie-'+rowIndex);"
                      class="channel-box non_active_line"
                      [ngClass]="{'last_item': isLast && !isFirst && row.length === item.itemsPerRow, 'active-row': selectedItem?.rowIndex === rowIndex, 'active-details': selectedItem?.itemIndex === itemIndex && selectedItem?.rowIndex === rowIndex}"
                      [ngStyle]="{'width': ((container.offsetWidth) / item.itemsPerRow) - 10 + 'px', 'height': ((container.offsetWidth) / item.itemsPerRow * 0.54) + 'px'}">

                      <img [src]="item.Thumbpic" alt="">
                      <div class="top">
                        <div class="bg"></div>
                        <!-- <h1 class="ch-name">
                          <span class="ch-num">
  
                          </span>
                          {{item.SerialName}}
                        </h1> -->
                        <a class="channel-info">
                          <p class="info-icon" (click)="info2($event, item, rowWrap)">
                            <img src="/assets/prebuilt-themes/vodacom-gray/images/info.svg" alt="info">
                          </p>
                        </a>
                      </div>

                      <div class="bottom">
                        <div class="bg-bott"></div>
                        <div class="program" style="min-height: 24px;">
                          <div class="block"
                            style="width: 100%; display: flex; align-items: center; white-space: nowrap;">
                            <div class="duration">
                              {{item.NumberOfSeasons}} Seasons
                            </div>
                            <span class="prog-name"
                              style="width: calc(100% - 73px); overflow: hidden;">{{item.SerialName}}</span>
                          </div>
                        </div>
                      </div>

                      <div class="data-mask">
                        <div class="play-btn"></div>
                        <div class="title-mask" [title]="item.SerialName">{{item.SerialName}}</div>
                        <div class="desc-mask">
                          {{item.SerialDesc}}
                        </div>
                        <div class="ext-info">
                          <!-- <div class="age">+16</div> -->
                          <div class="duration">
                            {{item.NumberOfSeasons}} Seasons
                          </div>
                        </div>
                        <div (click)="details(rowIndex, itemIndex, item, $event, 'details-movie-'+rowIndex)"
                          class="item-footer-mask">
                          <div class="more"></div>
                        </div>
                      </div>
                      <a class="rout-lnk" (click)="goToVideo3(item)">
                        <div class="playBtn"></div>
                      </a>
                    </div>
                    <div *ngIf="selectedItem?.itemIndex === itemIndex && selectedItem?.rowIndex === rowIndex">
                      <div class="selectedItemArrow"></div>
                    </div>
                  </div>
                </div>
                <!-- (click)="goToVideo(selectedItem.item)" -->
                <div *ngIf="selectedItem?.rowIndex === rowIndex" id="details-movie-{{rowIndex}}" class="details-movie"
                  [ngStyle]="{'height': '64vh', 'width': '100%'}">
                  <div class="close-details" (click)="$event.stopPropagation(); selectedItem = {}">
                    <img src="assets/prebuilt-themes/vodacom-gray/images/buttons/X.png" alt="">
                  </div>
                  <div class="data-layer">
                    <div class="data-block">
                      <div class="title">{{selectedItem.item.SeasonsName}} </div>
                      <!-- <div class="common">
                        <div class="ext-info">
                          <a class="play_button">
                            <span class="mat-button-wrapper">Play</span>
                          </a>
                          <div class="dur"> 9 Min </div>
                          <div class="age">+16</div>
                        </div>
                      </div> -->
                      <div class="description">
                        {{selectedItem.item.SerialDesc}}
                      </div>
                    </div>
                  </div>
                  <div class="background">
                    <img [src]="selectedItem.item.Thumbpic" alt="The Gunfighter ">
                  </div>
                  <div class="gradiant-bg">
                    <div class="left"></div>
                    <div class="grad"></div>
                  </div>
                </div>
                <div *ngIf="selectedItem?.rowIndex === rowIndex" class="serial-seasons-details-wrap">
                  <app-serial-seasons-details [data]="selectedItem['item'].VOD_MovieDetailsList" (selectEpisodeEvent)="goToVideo2($event)"></app-serial-seasons-details>
                </div>

              </ng-container>

            </ng-container>
          </ng-container>

        </div>
      </div>

    </div>
  </div>

  <app-vod-footer></app-vod-footer>
</div>