.lists-main_wrapper {
  margin: 20px 50px;
  height: calc(100vh - 73px);
  overflow: scroll;
}
.lists-main_wrapper::-webkit-scrollbar {
  width: 8px;
}
.lists-main_wrapper::-webkit-scrollbar-button {
  background-color: #0a0a0a;
  height: 0;
}
.lists-main_wrapper::-webkit-scrollbar-track {
  background-color: #0a0a0a;
}
.lists-main_wrapper::-webkit-scrollbar-thumb {
  height: 10px;
  background-color: #f8ffff;
  border-radius: 4px;
}
.list-items_wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 1vw 1vw 0 1vw;
  background-color: #0a0a0a;
  padding: 15px 0;
}
.list-loc_wrap {
  padding-top: 1px;
  background-color: #0a0a0a;
}
.list_name {
  top: -5px;
  margin: 1vw;
  padding-left: 10px;
  min-width: 6em;
  font-family: Bahnschrift, Arial, Helvetica;
  font-size: 2.1vw;
  font-weight: 400;
  color: #cafdfd;
  background-color: #000;
}
content:hover {
  position: relative;
  z-index: 100;
  // transition: .4s;
  .list-item_wrapper {
    position: absolute;
    width: 110%;
    height: 200px;
    border: 1px solid #000;
    z-index: 120;
    left: -5%;
    top: -18px;
    transition: .2s;
    img {
      height: 190px;
    }
  }
}
content {
  width: 19.88%;
  height: 163px;
  cursor: pointer;
  margin: 15px 0.06%;
  // transition: .4s;
  // display: flex;
  // align-items: flex-end;
}
// .list-items_wrap:hover {
//   width: 120%;
// }
.list-item_wrapper {
  position: relative;
  width: 100%;
  height: 163px;
  // background: url(../../../assets/prebuilt-themes/vodacom-gray/images/f.jpg)
  //   center no-repeat;
  // background-size: cover;
  // cursor: pointer;
  // margin: 15px 0.06%;
  display: flex;
  align-items: flex-end;
  // transition: .4s;
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 163px;
    object-fit: fill;
  }
}
.list-item_wrapper.history {
  background: url(../../../assets/prebuilt-themes/vodacom-gray/images/t.jpg)
    center no-repeat;
  background-size: cover;
}
.item-theme {
  font-family: Bahnschrift, Arial, Helvetica, Arial, sans-serif;
  line-height: 1.5vw;
  // height: 1.1vw;
  font-size: 1.1vw;
  padding: 0 5px;
  white-space: nowrap;
  margin: 0;
  background-color: rgba($color: #000000, $alpha: 0.5);
  color: #fff;
  overflow: hidden;
  z-index: 1;
  width: 100%;
}
