<div class="lists-main_wrapper">

  <div class="panel-primary">
    <div #container class="channelsLinesContainer">
      <div *ngFor="let c of data | keyvalue" class="list-loc_wrap">
        <p class="list_name" (click)="cs(c.value)">{{c.key}}</p>
        <div class="content">
          <div class="row" *ngFor="let row of c.value | rowList: listUpdater">
            <div class="row-item" *ngFor="let item of row; last as isLast; first as isFirst">

              <div *ngIf="(!item.programLists && item.Logo)" (click)="goToVideo(item)"
                class="channel-box non_active_line"
                [ngClass]="{'last_item': isLast && !isFirst && row.length === item.itemsPerRow}"
                [ngStyle]="{'width': ((container.offsetWidth - 10) / item.itemsPerRow) + 'px', 'height': ((container.offsetWidth - 10) / item.itemsPerRow * 0.747) + 'px'}">
                <a class="rout-lnk small">
                  <div class="vodBtn"></div>
                </a>
                <img [src]="item.BigPicture" alt="">
                <div class="top">
                  <div class="bg"></div>
                  <h1 class="ch-name">
                    <span>
                      <span class="ch-num">{{item.ChannelNumber}}</span>{{item.ChannelName}}
                    </span>
                  </h1>
                  <span class="live">
                    Live
                  </span>
                </div>
              </div>


              <div *ngIf="(item.programLists && item.programLists[0])" (click)="goToVideo(item)"
                class="channel-box non_active_line"
                [ngClass]="{'last_item': isLast && !isFirst && row.length === item.itemsPerRow}"
                [ngStyle]="{'width': ((container.offsetWidth - 10) / item.itemsPerRow) + 'px', 'height': ((container.offsetWidth - 10) / item.itemsPerRow * 0.747) + 'px'}">
                <a class="rout-lnk small">
                  <div class="vodBtn"></div>
                </a>
                <img [src]="item.programLists[0]?.MoviePic" alt="">
                <div class="top">
                  <div class="bg"></div>
                  <div class="ch-logo"><img [src]="item.Logo" [alt]="item.ChannelName"></div>
                  <h1 class="ch-name"><span class="ch-num">{{item.ChannelNumber}}</span> {{item.ChannelName}}
                  </h1>
                  <a class="channel-info">
                    <p class="info-icon" (click)="info($event, item)">
                      <img src="/assets/prebuilt-themes/vodacom-gray/images/info.svg" alt="info">
                    </p>
                  </a>
                </div>
                <div class="bottom">
                  <div class="bg-bott"></div>
                  <div class="program">
                    <div class="block"><span
                        class="prog-st">{{item.programLists[0].StartTime | currentDate: 'HH:mm'}}</span><span
                        class="prog-name">{{item.programLists[0].Title}}</span></div>
                  </div>
                </div>
                <div class="bottom-hov">
                  <div class="bg-bott"></div>
                  <div class="program" [title]="item.programLists[0].Title">
                    <div class="block">
                      <div class="ttl">Playing Now</div>
                      <div class="prog-name">{{item.programLists[0].Title}}</div>
                    </div>
                  </div>
                  <div class="program">
                    <a class="r-link" [title]="item.programLists[1].Title"></a>
                    <div class="block">
                      <div class="ttl"> Next: {{item.programLists[1].StartTime | currentDate: 'HH:mm'}}</div>
                      <div class="prog-name">{{item.programLists[1].Title}}</div>
                    </div>
                  </div>
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <app-vod-footer></app-vod-footer>
</div>