<div id="controls-container" class="controls-container "
     [ngClass]="{ close: noMouseMove || isPlayingAd || showChannels, 'none_progressbar': !showProgressbar}"
     >
  <div class="progressBarSection" [hidden]="!showProgressbar">
    <div class="time">
      {{videoTimeFormatted || "00:00"}}
    </div>
    <div class="progressSlider" >
      <mat-slider #progressSlider  min="1" max="10000"  value="{{videoTime}}" (change)="onInputChange($event)"></mat-slider>
    </div>
    <div class="time">
      {{videoDurationFormatted || "00:00"}}
    </div>
  </div>
  <div class="videoButtons">
    <div class="button-lines">
        <!--<div class="openMediaBtn" [ngClass]="{activateMovie:isMobileView}">-->
           <!--<ctv-media-sharing  [ngClass]="{hide:noMouseMove || isPlayingAd}" ></ctv-media-sharing>-->
        <!--</div>-->

      <div class="buttons-left" >
        <div class="favoriteBtn" (click)="onFavoriteClick()" [ngClass]={favorite:isFavorite} matTooltip="Add to favorite channels">
        </div>
        <div class="date-info" >

          <h1 class="channelNum" *ngIf="!data?.Part_number && !data?.isMov" matTooltip="{{currentChannel?.channel.desc}}">Channel {{data?.channelNum}}, </h1>
          <h1 class="channelNum" *ngIf="data?.isMov && !data?.Part_number" matTooltip="{{currentChannel?.channel.desc}}">{{data?.GenerName}}, </h1>
          <h1 class="channelNum" *ngIf="data?.Part_number" matTooltip="{{data?.Part_number}}">Episode {{data?.Part_number}}, </h1>
          <p class="time">{{now | date:'HH:mm , EEEE'}}</p>
          <h1 class="lower-line" matTooltip="{{currentItemDescription}}">
            <span *ngIf="data?.title">
              {{ data?.title }}
            </span>
            <span *ngIf="data?.ChannelName">
              {{ data?.ChannelName }}
            </span>
          </h1>
        </div>
      </div>

      <div class="buttons-center">
        <div class="toStartBtn" (click)= "prevProgram()" [ngClass]="{active:hasList,pcView:!isMobileView, focusable: tvView}" matTooltip="Start Over / Previous Program"></div>
        <div class="rwBtn"  (click)= "playerSeekAddSeconds(-60)" [ngClass]="{active:ffBtnActive,pcView:!isMobileView, focusable: tvView}" matTooltip="Fast Backward  << 1Min"></div>
        <div id="testBtn" class="playPauseBtn"[ngClass]="{playing:isPlaying, pcView:!isMobileView, focusable: tvView}" (click)="onPlayPauseClick()"  ></div>
        <div class="ffBtn"  (click)="playerSeekAddSeconds(60)" [ngClass]="{active: ffBtnActive ,pcView:!isMobileView, focusable: tvView}" matTooltip="Fast Forward  >> 1Min"></div>
        <div class="toEndBtn" (click)="nextProgram()" [ngClass]="{active:hasList,pcView:!isMobileView , focusable: tvView}" matTooltip="Next Program" ></div>
        <div class="infoBtn" (click)= "onInfoClick()"
             [ngClass]="{active:showEpgData,  hide:isMobileView, pcView:!isMobileView, highlight: isEpgOpen, focusable: tvView}" matTooltip="{{ currentChannel?.channel.title + ', Program Guide'}}"></div>
      </div>
      <div class="buttons-right" [ngClass]="{hide:isMobileView}">
        <div class="soundBtn"  [ngClass]="{mute: isMute }" (click)="onMuteClick()" ></div>
        <div class='slider'>
          <mat-slider #volumeSlider class="volumeSlider"  min="1" max="100"  value="{{volume}}" ></mat-slider>
        </div>
        <div class="fullScreenBtn" [ngClass]="{fullScreen: isFullScreen, focusable: tvView}" (click)="onFullScreenClick()" >
           <!-- <img src="../../../../assets/prebuilt-themes/{{dir}}/images/player/bigwindow.png"> -->
        </div>
      </div>

      <div [ngClass]="{show:isMobileView}"  class="fullScreenBtnMobile" (click)="onFullScreenClick()">
          <!--<img src="../../../../assets/prebuilt-themes/{{dir}}/images/buttons/fullscreen.png">-->
      </div>

    </div>
  </div>
</div>
