<div class="foot_wrapper">
  <div class="top_f_wrap">
    <div class="l_foot_wrap">
      <p class="m_text">ABOUT</p>
      <div class="rs_content">
        <p class="foot_m_text">ABOUT ACE TV ONDO
          THE FIRDT CAMPUS TV STATION IN NIGERIA.</p>
      </div>
    </div>
    <div class="r_foot_wrap">
      <div class="section_wrap">
        <p class="m_text">SHORTCUTS</p>
        <div class="ls_content">
          <p class="foot_m_text link">Lessons</p>
          <p class="foot_m_text link">Live</p>
          <p class="foot_m_text link">Channels</p>
          <p class="foot_m_text link">DemoTV App Download</p>
        </div>
      </div>
      <div class="section_wrap">
        <p class="m_text">QUICK LINKS</p>
        <div class="ls_content">
          <p class="foot_m_text link">Privacy Compliance</p>
          <p class="foot_m_text link">About Us</p>
          <p class="foot_m_text link">Terms and Conditions</p>
          <p class="foot_m_text link">Contact Us</p>
          <p class="foot_m_text link">Cookie Policy</p>
          <p class="foot_m_text link">TV Channels list</p>
          <p class="foot_m_text link">News</p>
        </div>
      </div>
    </div>
  </div>
  <div class="hr"></div>
  <div class="bottom_f_wrap">
    <div class="bott_s_wrap">
      <p class="foot_m_text">Copyright © 2017 All Rights Reserved by Cast-TV. <a>Cast TV.</a>.</p>
    </div>
    <div class="bott_s_wrap media_links">
      <p class="media_link_wrap">
        <img src="/assets/prebuilt-themes/vodacom-gray/images/buttons/media-sharing/facebook_share_1.png" alt="facebook">
      </p>
      <p class="media_link_wrap">
        <img src="/assets/prebuilt-themes/vodacom-gray/images/buttons/media-sharing/instush.png" alt="inst">
      </p>
      <p class="media_link_wrap">
        <img src="/assets/prebuilt-themes/vodacom-gray/images/buttons/media-sharing/twitter_tweet_1.png" alt="twetter">
      </p>
      <p class="media_link_wrap">
        <img src="/assets/prebuilt-themes/vodacom-gray/images/buttons/media-sharing/whatsapp.png" alt="whats">
      </p>
    </div>
  </div>
</div>
